<nav class="navbar justify-content-between navbar-expand-lg navbar-light">
  <a class="navbar-brand" style="color: #fdfeff;" href="#">
    <img
      src="../assets/imgs/KMMedIA-1-2.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
    />
    KMMEDIA
  </a>
  <button
    class="navbar-toggler alert-light"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0"></div>
    <form action="" class="form-inline my-1 my-lg-0">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" />
      </div>
      <button class="btnLogin">
        <i class="fas fa-arrow-alt-circle-right"></i>
        Login
      </button>
    </form>
  </div>
</nav>
