.row {
  margin: 0.1em;
}
#sidebar {
  overflow: hidden;
  z-index: 3;
  /* z-index càng cao thì element đó đứng trước và hiện lên trên. */

  border: none;
  border-radius: 25px;
  max-width: 300px;
  /* chiều rộng lớn nhất cho một phần tử */

  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.16);
}
#sidebar .list-group {
  min-width: 100px;
  /* chiều rộng nhỏ nhất cho một phần tử */

  background-color: #353a56;
  min-height: 90vh;
  max-width: 300px;
  position: relative;
}
#sidebar i {
  margin-right: 6px;
}

#sidebar .list-group-item {
  background-color: #353a56;
  color: #eee;
  white-space: nowrap;
  /* các chữ không xuống dòng */

  border: none;
  border-radius: 25px;
  margin: 1em 1em 1em 1em;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
  background-color: #161616;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded='false']::after {
  content: '\f0d7';
  font-family: FontAwesome;
  display: inline;
  /* được hiển thị theo chiều ngang */

  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item {
  padding-left: 1px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 1px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 1px;
}
.menu-list-left-botton {
  font-size: 12px;
  color: #eee;
  height: 100px;
  position: sticky;
  /* menu không trược  */

  margin-top: 100%;
  bottom: 0px;
}
/* css button exloer */
.btn_bottom {
  text-align: center;
  width: 90%;
  background-color: #262a48 !important;
}
/* end css exlore */

@media (max-width: 1024px) {
  #sidebar {
    min-width: 35px;
    max-width: 40px;
    overflow-y: auto;
    /* nội dung được cắt bớt */

    overflow-x: visible;
    /* nội dung được ghi đè */

    transition: all 0.25s ease;
    transform: translateX(-45px);
    position: fixed;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0);
  }

  #sidebar.show {
    transform: translateX(0);
  }

  #sidebar::-webkit-scrollbar {
    width: 0px;
  }

  #sidebar,
  #sidebar .list-group {
    min-width: 10px;
    overflow: visible;
    background-color: #262a48;
  }
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.show,
  #sidebar .list-group .collapsing {
    position: relative;
    z-index: 1;
    width: 190px;
    top: 0;
  }
  #sidebar .list-group > .list-group-item {
    text-align: center;
    padding: 0.75rem 0em;
    background-color: #262a48;
  }
  /* hide caret icons of top level when collapsed */
  #sidebar .list-group > .list-group-item[aria-expanded='true']::after,
  #sidebar .list-group > .list-group-item[aria-expanded='false']::after {
    display: none;
  }
  .btn {
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .btn_bottom {
    background-color: #353a56;
  }
}
