<div class="container-fluid sticky-top">
  <div class="sticky-top">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
      <div
        class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show"
        id="sidebar"
      >
        <div class="list-group border-0 text-center text-md-left">
          <a
            href="home"
            class="list-group-item d-inline-block collapsed"
            data-parent="#sidebar"
          >
            <i class="fas fa-house-user"></i>
            <span class="d-none d-md-inline">Home</span>
          </a>
          <a
            href="#"
            class="list-group-item d-inline-block collapsed"
            data-parent="#sidebar"
          >
            <i class="far fa-eye"></i>
            <span class="d-none d-md-inline">Views</span>
          </a>
          <a
            href="#"
            class="list-group-item d-inline-block collapsed"
            data-parent="#sidebar"
          >
            <i class="fas fa-tools"></i>
            <span class="d-none d-md-inline">Edit</span>
          </a>
          <a
            href="#"
            class="list-group-item d-inline-block collapsed"
            data-parent="#sidebar"
          >
            <i class="fas fa-tools"></i>
            <span class="d-none d-md-inline">Edit Admin</span>
          </a>
          <a
            href="#"
            class="list-group-item d-inline-block collapsed"
            data-parent="#sidebar"
          >
            <i class="fas fa-users"></i>
            <span class="d-none d-md-inline">Manager</span>
          </a>
          <div class="menu-list-left-botton fixed-bottom">
            <a
              href="#"
              class="list-group-item d-inline-block collapsed"
              data-parent="#sidebar"
            >
              <i class="fas fa-at"></i>
              <span class="d-none d-md-inline">Contact us</span>
            </a>
            <a
              href="#"
              class="list-group-item d-inline-block collapsed"
              data-parent="#sidebar"
            >
              <i class="fas fa-unlock"></i>
              <span class="d-none d-md-inline">Privacy and pulicy</span>
            </a>
            <a
              href="#"
              class="list-group-item d-inline-block collapsed btn_bottom"
              data-parent="#sidebar"
            >
              <i class="fas fa-info-circle"></i>
              <span class="d-none d-md-inline">explore</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
