<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/ocean_iceberg_minimalism_killer_whales_ice_cream_sea_74442_2560x1600.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-aleksandar-pasaric-325185.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-neosiam-601798.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-pixabay-206359.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-rahul-pandit-2038556.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-mia-von-steinkirch-3689659.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-david-bartus-1166209.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-neosiam-601798.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/planet_universe_galaxy_stars_flash_59622_1920x1080.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/planet_clouds_light_star_94996_1920x1096.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-yaroslav-shuraev-1834403.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-ms-3 col-md-3 col-12">
      <div class="hoverCard card">
        <img
          src="../assets/imgs/item/pexels-ryutaro-tsukata-5745761.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="Overlay">
          <a href="#" class="icon">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
