.container-fuid {
  padding-top: 1%;
  padding-right: 2em;
  color: #fdfeff;
}
.content {
  padding: 1em;
  max-width: 1620px;
  width: 1500px;
  float: right;
  background-color: #353a56;
  border: none;
  border-radius: 25px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.16);
}
